.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2rem;
  background-color: burlywood;
  border-radius: 1em;
  max-width: 50em;
  width: fit-content;
  margin: auto;
}